Code/
Electron/
Insomnia/
TabNine/
coc/
dconf/
discord/
enchant/
eog/
evince/
evolution/
flameshot/
github*
gnome*
goa*
gtk*
ibus/
lazygit/
menus/
nautilus/
next*/
google*
pulse/
nvim-backup/
tiling*
yarn/
update*/
GNOME*
background*
monitors*
ubuntu*
user*
xdg*
Qt*
mime*
.gsd*
